{%  extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/Css/Department/table.css">
    <link rel="stylesheet" href="/static/Css/slide.css">
{% endblock %}
{% block frontScript %}
    <script src="/static/Js/slide.js"></script>
{% endblock %}

{% block body %}
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
            <p>确定删除部门？</p>
            <ul class="cd-buttons">
                <li><a id="yes">确定</a></li>
                <li><a id="no">取消</a></li>
            </ul>
            <a href="#0" class="cd-popup-close img-replace">Close</a>
        </div>
        <!-- cd-popup-container -->
    </div>

    <header class="header-bar">
        <ul>
            <li><a href="{{ url_for("department.addDep") }}">添加部门</a></li>
            <li><a href="{{ url_for("department.importDep") }}">导入部门</a></li>
            <li class="last"><input id="search-key" type="text" placeholder="关键词" value="{{ "" if key == "none" else key }}"><button id="search">搜索</button></li>
        </ul>
    </header>

    <section class="table-box">
        <table>
            <thead>
            <tr>
                <th width="20%">部门名称</th>
                <th width="40%">部门描述</th>
                <th width="20%">上级机构</th>
                <th width="20%">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for department in departments %}
                {% if department.id > 1 %}
                    <tr>
                        <td>{{ department.name }}</td>
                        <td>{{ department.detail }}</td>
                        <td>{{ department.parentID|departmentNameToTable(dID=department.id) }}</td>
                        <td>
                            <a title="修改" href="{{ url_for("department.editDep", dID=department.id) }}" class="ctrl-edit"></a>
                            <a title="删除" href="{{ url_for("department.delDep", dID=department.id) }}" class="ctrl-delete"></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </section>

    {% if departments|length > 0 %}
        <footer>
            <span>当页条数：{{ departments|length }} / 总条数：{{ rows }}</span>

            <aside>
                <a class="prev" href="?key={{ key }}&count={{ count }}&page=0" style="display: {{ 'none' if 0 == page or allPage < 9 else 'inline-block' }}"><<</a>
                <a href="?key={{ key }}&count={{ count }}&page={{ page - 1 }}" style="display: {{ 'none' if 0 == page else 'inline-block' }}"><</a>
                {% if allPage > 9 and rows  % count != 0 %}
                    {% if page + 5 < 10 and page + 5 < allPage %}
                        {% for i in range(0, 9) %}
                            <a href="?key={{ key }}&count={{ count }}&page={{ i }}" {{ 'class=cur-page' if page == i else 'class=' }}>{{ i + 1 }}</a>
                        {% endfor %}
                    {% elif page + 4 < allPage %}
                        {% for i in range(page - 4, page + 5) %}
                            <a href="?key={{ key }}&count={{ count }}&page={{ i }}" {{ 'class=cur-page' if page == i else 'class=' }}>{{ i + 1 }}</a>
                        {% endfor %}
                    {% elif page + 4 >= allPage %}
                        {% for i in range(allPage - 8, allPage + 1) %}
                            <a href="?key={{ key }}&count={{ count }}&page={{ i }}" {{ 'class=cur-page' if page == i else 'class=' }}>{{ i + 1 }}</a>
                        {% endfor %}
                    {% endif %}
                    <a class="more" style="display: {{ 'none' if page + 5 >= allPage + 1 else 'inline-block' }}">...</a>
                    <a href="?key={{ key }}&count={{ count }}&page={{ page + 1 }}" style="display: {{ 'none' if allPage + 1 == page + 1 else 'inline-block' }}">></a>
                    <a class="next" href="?key={{ key }}&count={{ count }}&page={{ allPage }}" style="display: {{ 'none' if allPage + 1 <= page + 5  else 'inline-block' }}">>></a>
                {% elif allPage > 9 and rows % count == 0 %}
                    {% if page + 5 < 10 and page + 5 < allPage %}
                        {% for i in range(0, 9) %}
                            <a href="?key={{ key }}&count={{ count }}&page={{ i }}" {{ 'class=cur-page' if page == i else 'class=' }}>{{ i + 1 }}</a>
                        {% endfor %}
                    {% elif page + 4 < allPage %}
                        {% for i in range(page - 4, page + 5) %}
                            <a href="?key={{ key }}&count={{ count }}&page={{ i }}" {{ 'class=cur-page' if page == i else 'class=' }}>{{ i + 1 }}</a>
                        {% endfor %}
                    {% elif page + 4 >= allPage %}
                        {% for i in range(allPage - 8, allPage) %}
                            <a href="?key={{ key }}&count={{ count }}&page={{ i }}" {{ 'class=cur-page' if page == i else 'class=' }}>{{ i + 1 }}</a>
                        {% endfor %}
                    {% endif %}
                    <a class="more" style="display: {{ 'none' if page + 5 >= allPage else 'inline-block' }}">...</a>
                    <a href="?key={{ key }}&count={{ count }}&page={{ page + 1 }}" style="display: {{ 'none' if allPage - 1 == page else 'inline-block' }}">></a>
                    <a class="next" href="?key={{ key }}&count={{ count }}&page={{ allPage - 1 }}" style="display: {{ 'none' if allPage <= page + 5  else 'inline-block' }}">>></a>
                {% else %}
                    {% if rows % count == 0 %}
                        {% for i in range(0, allPage) %}
                            <a href="?key={{ key }}&count={{ count }}&page={{ i }}" {{ 'class=cur-page' if page == i else 'class=' }}>{{ i + 1 }}</a>
                        {% endfor %}
                        <a href="?key={{ key }}&count={{ count }}&page={{ page + 1 }}" style="display: {{ 'none' if allPage == page + 1 else 'inline-block' }}">></a>
                    {% elif rows % count != 0 %}
                        {% for i in range(0, allPage + 1) %}
                            <a href="?key={{ key }}&count={{ count }}&page={{ i }}" {{ 'class=cur-page' if page == i else 'class=' }}>{{ i + 1 }}</a>
                        {% endfor %}
                        <a href="?key={{ key }}&count={{ count }}&page={{ page + 1 }}" style="display: {{ 'none' if allPage + 1 == page + 1 else 'inline-block' }}">></a>
                    {% endif %}
                {% endif %}
            </aside>
        </footer>
    {% endif %}

{% endblock %}

{% block endScript %}
    <script src="/static/Js/Department/table.js"></script>

    <script>
        $("#search").on("click", function () {
            var key = $("#search-key").val();
            if (key)
                location.href = "?key=" + key;

        });

        $("#search-key").keypress(function(e) {
            if(e.which == 13) {
                var key = $(this).val();
                if (key)
                    location.href = "?key=" + key;
            }
        });
    </script>
{% endblock %}