<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    {% block meta %}
    {% endblock %}


    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/Css/layout.css">
    {% block style %}
    {% endblock %}

    <script src="/static/Js/jquery-1.11.1.js"></script>
    <script src="{{ url_for("static", filename="Js/jquery.tmpl.js") }}"></script>
    <script src="{{ url_for("static", filename="Js/jquery.tmpl.min.js") }}"></script>
    <script src="{{ url_for("static", filename="Js/jquery.tmplPlus.js") }}"></script>
    <script src="{{ url_for("static", filename="Js/jquery.tmplPlus.min.js") }}"></script>
    {% block frontScript %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}


{% block endScript %}
{% endblock %}
</body>
</html>